<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:p="http://www.springframework.org/schema/p">

   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
         destroy-method="close">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/sandbox"/>
      <property name="username" value="sb_user"/>
      <property name="password" value="sb_password"/>
   </bean>

   <bean id="hibernate5AnnotatedSessionFactory"
         class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>
      <property name="annotatedClasses">
         <list>
            <value>org.gmnz.sandbox.domain.Person</value>
            <value>org.gmnz.sandbox.domain.Ingredient</value>
            <value>org.gmnz.sandbox.domain.Dish</value>
            <value>org.gmnz.sandbox.domain.DishIngredient</value>
            <value>org.gmnz.sandbox.domain.DishIngredientPK</value>
         </list>
      </property>
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            <prop key="hibernate.current_session_context_class">thread</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hibernate.format_sql">true</prop>
            <prop key="hibernate.use_sql_comments">true</prop>
         </props>
      </property>
   </bean>


   <bean id="ingredientDao" class="org.gmnz.sandbox.data.HbnIngredientDao"
         p:sessionFactory-ref="hibernate5AnnotatedSessionFactory"/>
   <bean id="personDAO" class="org.gmnz.sandbox.data.HbnPersonDao"
         p:sessionFactory-ref="hibernate5AnnotatedSessionFactory"/>
   <bean id="dishDAO" class="org.gmnz.sandbox.data.HbnDishDao"
         p:sessionFactory-ref="hibernate5AnnotatedSessionFactory"/>

   <bean id="ingredientService" class="org.gmnz.sandbox.service.IngredientService" p:dao-ref="ingredientDao"/>
   <bean id="dishService" class="org.gmnz.sandbox.service.DishService" p:dao-ref="dishDAO"/>


</beans>